{% extends 'base.html' %}
{% load static %}
{% block source %}
    {{ block.super }}
<link rel="stylesheet" href="{% static "css/buku.css" %}" type="text/css">
{% endblock source %}

{% block style %}
    {{ block.super }}
    button {
        margin-bottom: 20px;
    }
{% endblock style %}

{% block content %}
    <div class="main-div">
        <h1 class="text-main">
            Daftar Buku
        </h1>
        <h5 id="fav">
            Jumlah buku favorit : 0
        </h5>
        <button onclick="jesen('architecture')">Architecture</button>
        <button onclick="jesen('comic')">Comic</button>
        <button onclick="jesen('quilting')">Quilting</button>
        <div class="container">
            <div class="table table-responsive">
            <table class="table table-hover" id="book-table">
                <thead>
                    <th>Cover Buku</th>
                    <th>Judul</th>
                    <th>Penulis</th>
                    <th>Favorit</th>
                </thead>
            </table>
        </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
            var starOn = "{% static 'img/starOn.png' %}";
            var starOff = "{% static 'img/starOff.png' %}";
            $(document).ready(function () {
                $.ajax({
                    url: '/story-9/get-json/quilting',
                    success: function (obj) {
                        var i;
                        for (i = 0; i < obj.items.length; i++) {
                            var title = obj.items[i].volumeInfo.title;
                            var image = '<img id="zoom" src="' + obj.items[i].volumeInfo.imageLinks.thumbnail + '">';
                            var author = obj.items[i].volumeInfo.authors;
                            $('#book-table').append('<tr><td>' + image + '</td><td>' + title + '</td><td>' + author + '</td><td><img class="imagess" onclick=favorit("' + obj.items[i].id + '") id=' + obj.items[i].id + ' src=' + starOff + ' style="height:50px;"></td></tr>');
                        }
                    }
                });
            })



        function jesen(jenis) {
            var starOn = "{% static 'img/starOn.png' %}";
            var starOff = "{% static 'img/starOff.png' %}";
            $(document).ready(function () {
                $.ajax({
                    url: '/story-9/get-json/' + jenis,
                    success: function(obj){
                        counter = 0;
                        $('h5').html('Jumlah buku favorit: ' + counter);
                        $('#book-table').empty();
                        $('#book-table').append('<thead>\n' +
                            '                    <th>Cover Buku</th>\n' +
                            '                    <th>Judul</th>\n' +
                            '                    <th>Penulis</th>\n' +
                            '                    <th>Favorit</th>\n' +
                            '                </thead>');
                        var i;
                        for(i=0; i<obj.items.length; i++){
                            console.log(obj.items.length)
                            var title= obj.items[i].volumeInfo.title;
                            var image= '<img id="zoom" src="' + obj.items[i].volumeInfo.imageLinks.thumbnail +'">';
                            var author= obj.items[i].volumeInfo.authors;
                            $('#book-table').append('<tr><td>'+image+'</td><td>'+title+'</td><td>'+ author+'</td><td><img class="imagess" onclick=favorit("'+ obj.items[i].id +'") id='+obj.items[i].id+ ' src=' + starOff + ' style="height:50px;"></td></tr>');
                    }
                }});
            });
        }
    </script>
    <script src="{% static 'js/Story9.js' %}"></script>
{% endblock script %}