{% extends 'base.html' %}
{% load static %}

{% block source %}
    {{ block.super }}
    <link href="{% static 'css/list.css' %}" type="text/css" rel="stylesheet">
{% endblock source %}
{% block content %}
    {% if data %}
    <h1>
        List Subscriber
    </h1>
        {% csrf_token %}
    <div class="container mx-auto d-block">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped" id="table-subscriber">
                <thead>
                    <tr>
                        <th scope="col">Nama</th>
                        <th scope="col">Email</th>
                        <th scope="col">Subscribe</th>
                    </tr>
                </thead>
            </table>
        </div>
    {% else %}
        <h1>Tidak ada subscriber</h1>
    {% endif %}
    </div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/Story10.js' %}" type="text/javascript"></script>
{% endblock script %}