{% extends 'base.html' %}

{% load static %}
{% block source %}
    {{ block.super }}
    <link href="{% static 'css/Story10.css' %}" rel="stylesheet" type="text/css">
{% endblock source %}
{% block style%}
    {{ block.super }}
    body {
        background-color: rgba(33,150,243,0.11) !important;
    }
{% endblock style %}

{% block content %}
    <div class="container mx-auto d-block">
        <form class="form-block" id="form-registrasi" action='#' method="POST">
            <h3 style="color: #2196f3">Mari lengkapi data untuk subscribe!</h3>
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {{ field.as_widget }}
                {% endfor %}
            </div>
            <button type="submit" class="btn" disabled="true">Submit</button>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/Story10.js' %}" type="text/javascript"></script>
{% endblock script %}