<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="437567450840-bafn5o9vu84bjlli1i98k7rb2gdv2dsf.apps.googleusercontent.com">
    <title>Muhamad Lutfi Arif</title>
    {% block source %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% endblock source %}
<style>
    {% block style %}
        body {
            text-align: center;
            background: white;
	        background-size: cover;
            font-family: 'Dosis', sans-serif !important;
        }
        #logout {
        border-radius: 2px;
            vertical-align: middle;
            border: 1px white solid;
            background-color: white;
            margin-bottom: 10px;
            margin-top: 8px;
            margin-left: 10px;
            padding: 0px 10px;
        }
        #logout a{
            padding: 0px;
            color: #2196F3;
        }
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
            from { bottom:-100px; opacity:0 }
            to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom {
            from{ bottom:-100px; opacity:0 }
            to{ bottom:0; opacity:1 }
        }

        #content-page {
            display: none;
            text-align: center;
        }

    {% endblock style %}
</style>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    {% include 'navbar.html' %}
    <div id="content-page" class="animate-bottom">
    {% block content %}
    {% endblock content %}
    </div>
</body>
    <script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 2000);
    }

    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("content-page").style.display = "block";
    }

    function onSignIn(googleUser) {
        var token = googleUser.getAuthResponse().id_token;
        $.ajax({
            url: '/story-9/verifikasi',
            method: 'POST',
            dataType: 'json',
            data: {'token': token},
            success: function (result) {
                console.log('User signed in.');
                location.reload()
            }
        });
    }

    function signOut() {
        gapi.load('auth2', function () {
            gapi.auth2.init().then(function () {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    $.ajax({
                        url: '/story-9/clear-session',
                        success: function (result) {
                            console.log('User signed out.');
                            location.reload();
                        }
                    });
                });
            });
        });
    }
    </script>
    {% block script %}
    {% endblock script %}
</html>