    <style>
        .navbar {
            background-color: #2196F3 !important;
            font-family: 'Dosis', sans-serif !important;
        }
        a {
            font-size: 18px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Story_6:profile' %}">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Story_6:status' %}">Status <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Story_9:buku' %}">List Buku <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Story_10:form-registrasi' %}">Form Subscriber <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Story_10:list-subscriber' %}">List Subscriber <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {% if not name %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="nav-link g-signin2" data-onsuccess="onSignIn"></div>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Welcome, {{ name }}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <li id='logout' class="nav-item active">
                        <a class="nav-link" onclick="signOut();" href="#">Logout <span class="sr-only">(current)</span></a>
                    </li>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>