{% extends 'base.html' %}

{% load static %}
{% block source %}
{{ block.super }}
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/Story8.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type='text/css' href='{% static 'css/jquery-ui.css' %}'>
{% endblock source %}

{% block style %}
{{ block.super }}
    body {
        text-align: center;
        background: white;
	    background-size: cover;
        line-height: 1.8;
        font-family: 'Dosis', sans-serif !important;
    }
    img {
        border-radius: 100%;
        border: 10px solid #2196f3;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    }

    p {
        font-size: 18px;
        line-height: 1.8;
    }
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    #title {
        font-size: 50px;
        padding: 10px;
    }
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    #accordion h3 {
        color: white !important;
        font-size: 20px;
        font-family: 'Dosis', sans-serif !important;
        border-radius: 50px;
        background-color: rgba(33, 150, 243, 1);
        border-color:rgba(255,255,255,0);
        box-shadow: 3px 3px 3px  grey;
        margin-top:7px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    #accordion div {
        font-size: 18px;
        color: black !important;
        font-family: 'Dosis', sans-serif !important;
      border-radius: 10px;
      width:250px;
      border-color:rgba(255,255,255,0);
      background-color: rgba(33, 150, 243, 0.2);
      margin-top:7px;
      margin-bottom:-5px;
    }
{% endblock style %}
{% block content %}
    <h1 id="title" style="font-size: 50px; font-family: 'Dosis', sans-serif;">This is My Profile</h1>

    <div class="col-md-12">
        <div class="container">
            <img class="img-circle" src="https://pbs.twimg.com/media/DmdGUTyU0AAp3dU.jpg" width="160" height="160">
            <div style="margin-top: 10px">
                <label class="switch">
                <input type="checkbox" id="switch-button">
                <span class="slider round"></span>
            </label>
            </div>
            <h3>My Name is</h3>
            <h3><strong>Muhamad Lutfi Arif</strong></h3>
            <center>
                <div id="accordion" style="width: 300px">
                        <h3>My Activities</h3>
                    <div>
                        Coding<br>Eat<br>Sleep
                    </div>
                        <h3>Experience</h3>
                    <div>
                        FUKI 2018<br>SIWAK-NG 2018<br>SALAM UI 2018
                    </div>
                        <h3>Achievement</h3>
                    <div>
                        Juara 1 Rangking 1 SIWAK-NG 2018
                    </div>
                </div>
            </center>

        </div>
    </div>
    <p id="footer" style="color:#000000; font-size: 14px;">&copy; Made with Love by Muhamad Lutfi Arif </p>
    </div>
{% endblock content %}
