form {
    width: 350px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: #FFFFFF;
    font-family: 'Dosis', sans-serif;
}

.form-control {
    margin-bottom: 15px;
}

label {
    font-size: 13px;
    vertical-align: middle;
    margin-bottom: 6px !important;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}

.btn {
    text-align: center;
    background-color: #2196f3;
    color: #FFFFFF;
    margin-left: 100px;
    transition: 0.5s;
    margin-bottom: 10px;
}

.btn[disabled=false]:hover {
    border: #2196f3 1px solid;
    background-color: #FFFFFF;
    color: #2196f3;
}


